<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-header">
        <a class="navbar-brand" href="articles">Blog</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="root">Home </a>
        <a class="nav-item nav-link" href="articles"></a>
        <a class="nav-item nav-link" href="#">Create</a>
      </div>
    </nav>
    <% if user_signed_in? %>
      <%= current_user.username %> |
      <%= link_to 'Sign-out', destroy_user_session_path, data: { "turbo-method": :delete } %>
    <% else %>
      <%= link_to 'Sign_In', new_user_session_path %>
    <% end %>
    <!-- Old sign-in sign-out links
      <a href="/users/sign_in">Sign In</a> | <a href="/users/sign_out" data-turbo-method="delete">Sign-out</a>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    -->
    <%= yield %>
  </body>
</html>

<style type="text/css">
  .alert-success{
    color: green;
  }
  .alert-danger{
    color: red;
  }
</style>
